$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

$calc-height-screen: 100vh - 2 * 4vh;

$basic-size-vh: 10vh;
$basic-margins-top: 1.5vh 0;
$basic-padding-sides: 0 0.95vh;
$basic-padding-overall: 3vh;

$letter-spacing-sm: -0.15vh;
$letter-spacing-lg: -0.75vh;

$line-height: 6.5vh;
$line-height-description: 85%;

$font-size-xs: 2.25vh;
$font-size-sm: 3vh;
$font-size-m: 3.5vh;
$font-size-lg: 13vh;
$font-size-subtitle: 6.5vh;

$color-font: #ffffff;
$color-font-alternative: #f7f0d4;
$color-background: #131313;

* {
  font-stretch: expanded;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: inherit;
}
