$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 40em; // 600px
$bp-smallest: 31.25em; // 500px

$calc-height-screen: 100vh - 2 * 4vh;
$calc-height-footer: 100%;

$basic-size-vh: 10vh;
$basic-margins-top: 1.5vh 0;
$basic-padding-sides: 0 0.95vh;
$basic-padding-overall: 3vh;
$basic-padding-big-screen-projects: 5.5%;
$basic-padding-techs: 2.5vh;
$basic-padding-image-small-screens: 5%;
$basic-padding-image-medium-screens: 15%;

$padding-button: 2.5%;

$padding-percentage: 5%;

$padding-bottom-space: 5%;

$letter-spacing-sm: -0.15vh;
$letter-spacing-lg: -0.75vh;

$line-height: 7vh;
$line-height-description: 100%;

$font-size-xs: 2.25vh;
$font-size-sm: 3vh;
$font-size-m: 3.5vh;
$font-size-lg: 13vh;
$font-size-subtitle: 6.5vh;

$font-size-xl-bigscreen: 15vh;

$color-font: #ffffff;
$color-font-alternative: #e7e167;
$color-background: #131313;
$color-spectrum: #b5d5f1;
$color-mapper: #ff3d00;

$grid-gap: 2.5vh;
$grid-gap-big: 25%;
$grid-gap-xl: 20%;

$padding-form-all-around: 10%;

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: inherit;
}

body {
  overflow-x: hidden;
}

.landing {
  background: $color-background;
  min-height: calc($calc-height-screen);
  background: url(background.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.name,
.lastname {
  color: $color-font-alternative;
}
.lastname {
  font-size: $font-size-sm;
  letter-spacing: $letter-spacing-sm;
}
.lastname__spectrum {
  color: $color-spectrum;
}
.lastname__map {
  color: #ffe0c2;
}

@media screen and (orientation: landscape) {
  body {
    display: none;
  }
}
