.code {
  height: $calc-height-screen;
  background: $color-background;
  color: $color-font;

  display: flex;
  padding: $basic-padding-overall + 0.5vh;
}
.code__container {
}
.tech__container {
  display: flex;
  align-items: center;
  padding: $basic-padding-overall - 2.5vh;
  grid-gap: $grid-gap;
  padding: $basic-padding-techs;
}
.code__introduction {
  font-family: 'League Gothic', sans-serif;
  text-transform: uppercase;
  font-size: $font-size-subtitle;
  letter-spacing: $letter-spacing-sm - 0.25vh;
}
.tech__subtitle {
  font-size: $font-size-m - 0.55vh;
  color: $color-font-alternative;
  letter-spacing: $letter-spacing-sm;
}

.technologies {
  display: flex;
  flex-direction: column;
}
.tech {
  padding: $basic-padding-overall -10vh;
  overflow: hidden;
}
.tech img {
  scale: 1.05;
}

.code__images {
}
