.code {
  display: flex;
  min-height: calc($calc-height-screen);
  align-items: center;
  background: $color-background;
  color: $color-font;
  display: flex;
  padding: $basic-padding-overall + 0.5vh;
}
.code__container {
  height: 100%;
}
.tech__container {
  display: flex;
  align-items: center;
  padding: $basic-padding-overall - 2.5vh;
  grid-gap: $grid-gap;
  padding: $basic-padding-techs;
}
.code__introduction {
  font-family: 'League Gothic', sans-serif;
  text-transform: uppercase;
  font-size: $font-size-subtitle;
  letter-spacing: $letter-spacing-sm - 0.25vh;
}
.tech__subtitle {
  font-family: 'League Gothic', sans-serif;
  text-transform: uppercase;
  font-size: $font-size-m - 0.55vh;
  color: $color-font-alternative;
  letter-spacing: $letter-spacing-sm;
}
.technologies {
  display: flex;
  flex-direction: column;
}
.tech {
  padding: $basic-padding-overall -10vh;
  overflow: hidden;
}
.icon {
  scale: 1.05;
}

@media (min-width: $bp-small) {
  .code {
    justify-content: center;
  }
  .code__container {
    display: flex;
  }
  .tech__container {
    flex-direction: row;
    justify-content: center;
  }
  .code__introduction {
    font-size: $font-size-subtitle + 2.5vh;
    letter-spacing: $letter-spacing-sm - 0.25vh;
  }
  .tech__subtitle {
    font-size: $font-size-m + 1vh;
    letter-spacing: $letter-spacing-sm -0.25vh;
  }
  .icon {
    scale: 1.25;
  }
}
@media (min-width: $bp-medium) {
  .code__container {
    padding-bottom: $padding-bottom-space;
  }
}
