.contact__section {
  min-height: calc($calc-height-screen);
  background: url(contact__background.png);

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 5%;
}
.contact {
  font-family: 'League Gothic', sans-serif;
  text-transform: uppercase;
  height: $calc-height-screen;
}
.contact__container {
  padding: 5%;
}
.contact__introduction {
  display: flex;
  flex-direction: column;
}
.contact__title {
  font-size: $font-size-lg;
  letter-spacing: $letter-spacing-lg;
  color: $color-font;
}
.contact__subtitle {
  font-size: $font-size-sm;
  letter-spacing: $letter-spacing-sm;
  color: $color-font-alternative;
}

.contact__body {
  text-align: center;
}
.contact__form {
  padding: $basic-padding-overall + 1.5vh;
}
form {
  background-color: $color-font-alternative;
  display: flex;
  flex-direction: column;
  padding: $padding-form-all-around;
  text-transform: uppercase;
}
form span {
  font-size: $font-size-sm;
  letter-spacing: $letter-spacing-sm;
  color: $color-background;
}

form input,
form textarea {
  border: 0;
  margin: $padding-bottom-space 0;
  padding: $basic-padding-overall;
  outline: none;
}
form input {
  padding: 1.5vh;
}
form button {
  padding: $padding-button;
  margin: $padding-button;
  background-color: $color-background;
  color: $color-font;
  font-size: $font-size-xs;
  border: 0;
  outline: none;
  cursor: pointer;
}

@media (min-width: $bp-small) {
  .contact__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1% 7.5%;
  }
  .contact__title {
    font-size: $font-size-lg;
    letter-spacing: $letter-spacing-lg;
    color: $color-font;
  }
  .contact__subtitle {
    font-size: $font-size-sm;
    letter-spacing: $letter-spacing-sm;
    color: $color-font-alternative;
  }
  .contact__form {
    padding: $basic-padding-overall 15vh;
  }
  form input {
    padding: 2vh;
  }
}
@media (min-width: $bp-medium) {
  .contact__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8%;
  }
  .contact__title {
    font-size: $font-size-lg;
    letter-spacing: $letter-spacing-lg;
    color: $color-font;
  }
  .contact__subtitle {
    font-size: $font-size-sm;
    letter-spacing: $letter-spacing-sm;
    color: $color-font-alternative;
  }
  .contact__form {
    padding: $basic-padding-overall 30vh;
  }
  form input {
    padding: 2vh;
  }
}
@media (min-width: $bp-large) {
  .contact__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15%;
  }
  .contact__title {
    font-size: $font-size-lg;
    letter-spacing: $letter-spacing-lg;
    color: $color-font;
  }
  .contact__subtitle {
    font-size: $font-size-sm;
    letter-spacing: $letter-spacing-sm;
    color: $color-font-alternative;
  }
  .contact__form {
    padding: $basic-padding-overall 55vh;
  }
  form input {
    padding: 2vh;
  }
}
