@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slackside+One&display=swap');

.footer {
  font-family: 'League Gothic', sans-serif;
  height: $calc-height-footer;
  background-color: $color-background;
  color: $color-font;
  padding: 2.5rem;
}
.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: center;
}
.logo__footer {
  height: 5vh;
  border-radius: 5vh;
  margin-bottom: 1rem;
}
.quote {
  font-family: 'Moirai One', cursive;
  color: $color-primrose;
  letter-spacing: 0.25rem;
  font-size: $font-size-m + 0.5vh;
  text-transform: uppercase;
}
.signature {
  font-size: $font-size-ml;
  text-transform: uppercase;
}
.links {
  display: flex;
  flex-direction: row;
}
.link {
  padding: 1.5rem;
}
.copyright {
  font-family: 'Slackside One', cursive;
}
.copyright .c {
  font-size: $font-size-ml;
  color: $color-font-alternative;
}
.copyright .myself {
  font-size: $font-size-sm;
}
