.github {
  height: 100%;
  background-color: $color-background;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: $basic-padding-overall + 0.5vh;
}
.github__container {
}
.github__information {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'League Gothic', sans-serif;
  text-transform: uppercase;
  font-size: $font-size-subtitle;
  letter-spacing: $letter-spacing-sm - 0.25vh;
  color: $color-font;
}
.github__link {
  text-align: center;

  font-family: 'League Gothic', sans-serif;
  text-transform: uppercase;
  font-size: $font-size-sm + 0.5vh;
  letter-spacing: $letter-spacing-sm;
  color: $color-font-alternative;
  border: 1vh solid $color-font-alternative;
  padding: $basic-padding-overall;
}
.github__link__a {
  text-align: center;
}
.tap {
  border-bottom: 1px solid $color-font-alternative;
}
