.github {
  height: 100%;
  background-color: $color-background;
  align-items: center;
  padding: $basic-padding-overall + 0.5vh;
  margin: 20% 1%;
  display: block;
}

.github__information {
  font-family: 'League Gothic', sans-serif;
  text-transform: uppercase;
  font-size: $font-size-subtitle;
  letter-spacing: $letter-spacing-sm - 0.25vh;
  color: $color-font;
  padding-bottom: $padding-bottom-space;
}
.github__link {
  text-align: center;
  font-family: 'League Gothic', sans-serif;
  text-transform: uppercase;
  font-size: $font-size-sm + 0.5vh;
  letter-spacing: $letter-spacing-sm;
  color: $color-font-alternative;
  border: 1vh solid $color-font-alternative;
  padding: $basic-padding-overall;
  margin-bottom: $padding-bottom-space;
}
.github__link__a {
  text-align: center;
}
.tap {
  border-bottom: 1px solid $color-font-alternative;
}

@media (min-width: $bp-small) {
  .github {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: $color-background;
    align-items: center;
    padding: $basic-padding-overall + 10vh;
  }

  .github__information {
    font-family: 'League Gothic', sans-serif;
    text-transform: uppercase;
    font-size: $font-size-subtitle;
    letter-spacing: $letter-spacing-sm - 0.25vh;
    color: $color-font;
    padding-bottom: $padding-bottom-space;
  }
  .github__link {
    text-align: center;

    font-family: 'League Gothic', sans-serif;
    text-transform: uppercase;
    font-size: $font-size-sm + 0.5vh;
    letter-spacing: $letter-spacing-sm;
    color: $color-font-alternative;
    border: 1vh solid $color-font-alternative;
    padding: $basic-padding-overall;
    margin-bottom: $padding-bottom-space;
  }
  .github__link__a {
    text-align: center;
  }
  .tap {
    border-bottom: 1px solid $color-font-alternative;
  }
}

@media (min-width: $bp-medium) {
  .github__information {
    font-size: $font-size-subtitle + 2.5vh;
    letter-spacing: $letter-spacing-sm - 0.25vh;
    padding-bottom: $padding-bottom-space;
  }
  .github__link {
    font-size: $font-size-m + 2.5vh;
    letter-spacing: $letter-spacing-sm - 0.25vh;
    letter-spacing: $letter-spacing-sm;
    margin-bottom: 0;
  }
}
