.header {
  font-family: 'League Gothic', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black bottom;
  border-bottom: 0.5px solid $color-font;
  padding: $basic-padding-overall;
  color: $color-font;
  margin: $basic-padding-sides;
}
.nav {
  font-size: $font-size-xs;
  letter-spacing: $letter-spacing-sm + 0.15vh;
}
.nav__list {
  display: flex;
  align-items: center;
}
.nav__item {
  padding: $basic-padding-sides;

  &.special {
    text-transform: uppercase;
    display: none;
  }
  &.special__logo {
    text-transform: uppercase;
    color: $color-font-alternative;
  }
}

@media (min-width: $bp-small) {
  .nav {
    font-size: $font-size-xs + 0.75vh;
  }
  .nav__item {
    &.special {
      display: block;
    }
  }
}
