.map {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: $calc-height-screen;
  background-color: $color-background;
  padding: $basic-padding-overall + 0.5vh;
  font-family: 'League Gothic', sans-serif;
}
#desktop {
  display: none;
}
#mobile {
  display: flex;
}
.map__body {
  margin: $basic-padding-image-small-screens;
}
.map__intro {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  font-size: $font-size-subtitle;
  letter-spacing: $letter-spacing-sm - 0.25vh;
  color: $color-font;
}
.map__subtitle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  font-size: $font-size-sm + 2vh;
  letter-spacing: $letter-spacing-sm;
  color: $color-mapper;
  border-bottom: 1px solid $color-mapper;
}

.map__display {
  padding: $basic-padding-overall - 2.5vh;
}
.map__display img {
  width: 100%;
}
.map__description {
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
  font-size: $font-size-m;
  line-height: $line-height-description;
  letter-spacing: $letter-spacing-sm;
  padding: $basic-padding-overall;
  color: $color-font;
}
.map__desc {
  padding-bottom: $padding-bottom-space;
}
.map__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-gap: 1vh;
  padding-top: $padding-bottom-space;
}
.map__link__cont {
  font-family: 'League Gothic', sans-serif;
  text-transform: uppercase;
  font-size: $font-size-sm;
  letter-spacing: $letter-spacing-sm;
  color: $color-mapper;
  border: 0.5vh solid $color-mapper;
  padding: $basic-padding-overall - 0.25vh;
}
.map__link__a {
  text-align: center;
}
.map__link__flex {
  display: flex;
  align-items: center;
  grid-gap: $grid-gap - 2vh;
}
.map__link img {
  border-radius: 50%;
  height: $font-size-m;
  width: $font-size-m;
}
@media (min-width: $bp-small) {
  .map {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: $basic-padding-overall + 0.5vh;
  }
  .map__container {
    display: flex;
    flex-direction: row;
    padding: $basic-padding-overall + 0.5vh;
  }
  .map__intro {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: normal;

    font-size: $font-size-subtitle + 1.5vh;
    letter-spacing: $letter-spacing-sm - 0.25vh;
  }
  .map__subtitle {
    font-size: $font-size-sm + 3vh;
    letter-spacing: $letter-spacing-sm;
    border-bottom: none;
  }
  .map__display {
    padding: $basic-padding-image-small-screens;
  }
  .map__description {
    font-size: $font-size-m;
    line-height: $line-height-description;
    letter-spacing: $letter-spacing-sm;
    padding: $basic-padding-overall;
  }
  .map__desc {
    padding-bottom: $padding-bottom-space;
  }
  .map__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    grid-gap: 5vh;
  }
  .map__link__cont {
    font-family: 'League Gothic', sans-serif;
    text-transform: uppercase;
    font-size: $font-size-sm;
    letter-spacing: $letter-spacing-sm;
    color: $color-mapper;
    border: 0.5vh solid $color-mapper;
    padding: $basic-padding-overall - 0.25vh;
  }
  .map__link__a {
    text-align: center;
  }
  .map__link__flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: $font-size-sm - 0.5vh;
  }
  .map__link img {
    border-radius: 50%;
    height: $font-size-sm;
    width: $font-size-sm;
  }
  #desktop {
    display: flex;
  }
  #mobile {
    display: none;
  }
}

@media (min-width: $bp-medium) {
  .map__display {
    padding: $padding-percentage;
  }
  .map {
    padding: $basic-padding-overall -1vh;
    height: fit-content;
  }
  .map__container {
    display: flex;
    flex-direction: row;
  }
  .map__body {
    padding: 0;
    margin: 0;
  }
  .map__description {
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    font-size: $font-size-m + 4vh;

    line-height: $line-height-description;
    letter-spacing: $letter-spacing-sm;
    padding: $basic-padding-overall;
    color: $color-font;
  }
  #desktop {
    display: flex;
  }
  #mobile {
    display: none;
  }
}
@media (min-width: $bp-large) {
  .map {
    padding: $basic-padding-overall -1vh;
    height: fit-content;
  }
  .map__container {
    grid-gap: $grid-gap-xl;
  }
  .map__display {
    padding: $padding-percentage;
  }

  .map__body {
    padding: 0;
    margin: 0;
  }
  .map__link {
    display: flex;
    flex-direction: row;
    grid-gap: $grid-gap;
  }
  .map__link__a {
    width: 35%;
  }
  .map__link__flex {
    display: flex;
    justify-content: center;
  }
  .map__subtitle {
    font-size: $font-size-xl-bigscreen;
  }
  #desktop {
    display: flex;
  }
  #mobile {
    display: none;
  }
}
