.map {
  height: $calc-height-screen;
  background-color: $color-background;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: $basic-padding-overall + 0.5vh;
  display: none;
}
.map__intro {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'League Gothic', sans-serif;
  text-transform: uppercase;
  font-size: $font-size-subtitle;
  letter-spacing: $letter-spacing-sm - 0.25vh;
  color: $color-font;
}
.map__subtitle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'League Gothic', sans-serif;
  text-transform: uppercase;
  font-size: $font-size-sm + 2vh;
  letter-spacing: $letter-spacing-sm;
  color: $color-mapper;
  border-bottom: 1px solid $color-mapper;
}

.map__display {
  padding: $basic-padding-overall + 0.5vh;
}
.map__display img {
  width: 100%;
}
.map__description {
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
  font-size: $font-size-m;
  line-height: $line-height-description;
  letter-spacing: $letter-spacing-sm;
  padding: $basic-padding-overall;
  color: $color-font;
}

.map__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-gap: 1vh;
}
.map__link__cont {
  font-family: 'League Gothic', sans-serif;
  text-transform: uppercase;
  font-size: $font-size-sm;
  letter-spacing: $letter-spacing-sm;
  color: $color-mapper;
  border: 0.5vh solid $color-mapper;
  padding: $basic-padding-overall - 0.25vh;
}
.map__link__a {
  text-align: center;
}
.map__link__flex {
  display: flex;
  align-items: center;
  grid-gap: $grid-gap - 1vh;
}
.map__link img {
  border-radius: 50%;
  height: $font-size-m;
  width: $font-size-m;
}
