.research__container {
  font-family: 'League Gothic', sans-serif;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  grid-gap: $grid-gap;
  height: $calc-height-screen;
  color: #ffff;
  padding: $basic-padding-overall + 0.5vh;
  align-items: center;
}
.research__introduction {
  font-size: $font-size-subtitle;
  letter-spacing: $letter-spacing-sm - 0.25vh;
}
.research__description {
  font-size: $font-size-m;
  line-height: $line-height-description;
  letter-spacing: $letter-spacing-sm;
  padding: $basic-padding-overall;
}
.research__image {
  display: flex;
  justify-content: center;
}
.research__image img {
  width: 90%;
}
.research__visit {
}
.option {
  font-size: $font-size-sm;
  margin: 0.95vh;
  border-bottom: 0.25px solid $color-research;
}
.research__button {
  font-family: 'League Gothic', sans-serif;
  text-transform: uppercase;
  font-size: $font-size-sm + 0.5vh;
  letter-spacing: $letter-spacing-sm;
  color: $color-research;
  border: 1vh solid $color-research;
  padding: $basic-padding-overall;
  margin: $padding-bottom-space + 5%;
}
.research__button {
  text-align: center;
}
.tapper {
  border-bottom: 1px solid $color-research;
}
