.research__container {
  margin: 10% 0 15% 0;
}
.research__title {
  color: $color-font;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  font-family: 'League Gothic', sans-serif;
  font-size: $font-size-lg;
  letter-spacing: $letter-spacing-sm;
  color: $color-font;
}
.sea {
  color: $color-primrose;
  background-color: #131313;
}
.engineer {
  color: $color-engineer;
  background-color: #131313;
}
.usa {
  color: $color-usa;
  background-color: #131313;
}
.critical {
  color: $color-critical;
  background-color: #131313;
}
.collab {
  color: $color-collab;
  background-color: #131313;
}
.research__sea {
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
  font-size: $font-size-xl;
  line-height: 7.5rem;
  letter-spacing: $letter-spacing-sm;
  padding: 2.5%;
  color: $color-sea;
  opacity: 0.8;
}
.research__sea__container {
  border: 5px;
  background-color: #ffffff;
  opacity: 0.9;
  margin-top: 5%;
}
.research__sea {
  background: url(sea.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: fit-content;
}

@media (max-width: $bp-large) {
  .research__container {
    margin: 15% 5%;
  }
  .research__title {
    color: $color-font;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    font-family: 'League Gothic', sans-serif;
    font-size: $font-size-lg;
    letter-spacing: $letter-spacing-sm;
    color: $color-font;
  }
}
