.project__title {
  color: $color-font;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  font-family: 'League Gothic', sans-serif;
  font-size: $font-size-lg;
  letter-spacing: $letter-spacing-sm;
  color: $color-font;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background: url(projects-background.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .marginner {
    margin: 5%;
    display: flex;
    justify-content: space-evenly;
  }
  .card:hover {
    opacity: 0.7;
    transition: 5 ease-in;
    cursor: pointer;
  }
  .card img {
    height: 470px;
    width: 450px;
  }
}
.spectrum__display img {
  margin: 2.5rem 0 1rem 0;
}

.individual__project__name {
  display: grid;
  margin: 0 auto;
  width: fit-content;
  text-transform: uppercase;
  font-family: 'League Gothic', sans-serif;
  font-size: $font-size-ml + 2vh;
  letter-spacing: $letter-spacing-sm;
}
.assist {
  color: $color-spectrum;
}
.prim {
  color: $color-primrose;
}
.come,
.mapp {
  color: $color-mapper;
}
.spectrum__desc {
  font-family: 'Bebas Neue', cursive;
  display: grid;
  text-transform: uppercase;
  font-size: $font-size-ml + 1vh;
  line-height: $line-height-description;
  letter-spacing: $letter-spacing-sm;
  padding: 2rem 0;
  color: $color-font;
}
.tools {
  display: flex;
  justify-content: center;
}

.tools img {
  height: 3.5rem;
  padding: 3rem;
}

@media (max-width: $bp-large) {
  .scrolling-wrapper {
    display: flex;
    flex-direction: column;

    grid-gap: 0;
    background: url(project-background-mobile.jpg);
    background-size: contain;
    .marginner {
      display: flex;
      justify-content: space-between;
      grid-gap: 1rem;
    }
    .card {
      display: grid;
      margin: 0 auto;
    }
    .card:hover {
      opacity: 0.7;
      transition: 5 ease-in;
      cursor: pointer;
    }
    .card img {
      height: 370px;
      width: 350px;
    }
  }
  .spectrum__display img {
    margin: 2.5rem 0 1rem 0;
  }
  .project__title {
    color: $color-font;
    margin: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    font-family: 'League Gothic', sans-serif;
    font-size: $font-size-lg;
    letter-spacing: $letter-spacing-lg;
    color: $color-font;
  }
  .individual__project__name {
    display: grid;
    margin: 0rem auto;
    width: fit-content;
    text-transform: uppercase;
    font-family: 'League Gothic', sans-serif;
    font-size: $font-size-ml + 2vh;
    letter-spacing: $letter-spacing-sm;
  }
  .assist {
    color: $color-spectrum;
  }
  .prim {
    color: $color-primrose;
  }
  .come {
    color: $color-mapper;
  }
  .spectrum__desc {
    font-family: 'Bebas Neue', cursive;
    display: grid;
    justify-content: center;
    text-transform: uppercase;
    font-size: $font-size-ml;
    line-height: $line-height-description;
    letter-spacing: $letter-spacing-sm;
    padding: 0.5rem 0;
    color: $color-font;
  }

  .tools img {
    height: 2.5rem;
    padding: 2rem;
  }
}
