.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  grid-gap: 5rem;

  min-height: calc($calc-height-screen);
  background: url(projects-background.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .card {
    display: inline-block;
  }
  .card:hover {
    opacity: 0.7;
    transition: 5 ease-in;
    cursor: pointer;
  }
}
.spectrum__display img {
  margin: 2.5rem 0 1rem 0;
}
.spectrum__title {
  color: $color-font;
  margin: 0 0 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  font-family: 'League Gothic', sans-serif;
  font-size: $font-size-lg;
  letter-spacing: $letter-spacing-sm;
  color: $color-font;
}
.spectrum__subtitle {
  display: grid;
  margin: 0 auto;
  margin-top: 5rem;
  width: fit-content;
  text-transform: uppercase;
  font-family: 'League Gothic', sans-serif;
  font-size: $font-size-ml + 2vh;
  letter-spacing: $letter-spacing-sm;
}
.assist {
  color: $color-spectrum;
  border-bottom: 5px solid $color-spectrum;
}
.prim {
  color: $color-primrose;
  border-bottom: 5px solid $color-primrose;
}
.come {
  color: $color-mapper;
  border-bottom: 5px solid $color-mapper;
}
.spectrum__desc {
  font-family: 'Bebas Neue', cursive;
  display: grid;
  text-transform: uppercase;
  font-size: $font-size-ml + 1vh;
  line-height: $line-height-description;
  letter-spacing: $letter-spacing-sm;
  padding: 5rem 0;
  color: $color-font;
}

.tools__container {
  display: flex;
  justify-content: center;
}
.tools img {
  height: 3.5rem;
  padding: 2.5rem;
}

@media (max-width: $bp-large) {
  .scrolling-wrapper {
    display: flex;
    flex-direction: column;

    grid-gap: 0;
    background: url(project-background-mobile.jpg);
    background-size: contain;
    .marginner {
      margin: 0 auto;
    }
    .card {
      display: grid;
      justify-content: center;
    }
    .card:hover {
      opacity: 1;
      transition: 5 ease-in;
      cursor: pointer;
    }
  }
  .spectrum__display img {
    margin: 1rem 0 0 0;
    height: 25rem;
  }
  .spectrum__title {
    color: $color-font;
    margin: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    font-family: 'League Gothic', sans-serif;
    font-size: $font-size-lg;
    letter-spacing: $letter-spacing-lg;

    color: $color-font;
  }
  .spectrum__subtitle {
    display: grid;
    margin: 0 auto;
    margin-top: 10rem;
    width: fit-content;
    text-transform: uppercase;
    font-family: 'League Gothic', sans-serif;
    font-size: $font-size-ml + 2vh;
    letter-spacing: $letter-spacing-sm;
  }
  .assist {
    color: $color-spectrum;
    border-bottom: 5px solid $color-spectrum;
  }
  .prim {
    color: $color-primrose;
    border-bottom: 5px solid $color-primrose;
  }
  .come {
    color: $color-mapper;
    border-bottom: 5px solid $color-mapper;
  }
  .spectrum__desc {
    font-family: 'Bebas Neue', cursive;
    display: grid;
    justify-content: center;
    text-transform: uppercase;
    font-size: $font-size-ml;
    line-height: $line-height-description;
    letter-spacing: $letter-spacing-sm;
    padding: 2.5rem 0;
    color: $color-font;
  }

  .tools__container {
    display: flex;
    justify-content: center;
  }
  .tools img {
    height: 55%;
    padding: 0.5rem;
  }
}
